* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* header container */
.header-container {
    background-color: #1f2937;
    width: auto;
    height: 350px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2rem;

}

    .header-logo {
        color: #f9faf8;
        font-size: 20px;
        margin: 5px 0 100px;
        /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
        /* background-color: magenta; */
        flex: 1;

    }

    .header-link {
        color: #f9faf8;
        height: 24px;
        font-size: 14px;
        /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
        margin: 5px 0 99px;
        /* background-color: rebeccapurple; */
        text-align: end;
        flex: 1;
        display: flex;
    }

    .header-link-subheading {
        flex: 1;

    }

    .header-allcontent {
/* 
        background-color: plum; */
        flex: 1;
    }
        .header-content {
            color: #f9faf8;
            font-weight: bolder;
            /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
            width: 200px;
        }

            .content-paragraph {
                color: #f9faf8;
                font-size: 18px;
                /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
            }

                .content-button {
                background-color: #3882f6;
                color: #f9faf8;
                width: 90px;
                height: 25px;
                /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
                border-radius: 5px;
                border: 1px solid #1f2937;
                }

    .header-placeholder {
        color: #f9faf8;
        background-color: lightslategray;
        /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
        display: flex;
        align-items: center;
        justify-content: center;
        width: 382px;
        height: 158px;
        flex: 1;

    }

.primary-content-container {
    background-color: #f9faf8;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.information-text {
    color: #1f2937;
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
    margin: 30px 0;
    flex: 0 1 auto;
}

.box-container {
    width: 600px;
    height: 150px;
    /* background-color: #1f2937; */
    /* margin: 0 0 0 5px; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    flex: 1 0 auto;
}

.box-1 {
    width: 100px;
    height: 125px;
    border: 3px solid #3882f6;
    border-radius: 5px;
    flex: 1 1 0;
}

.box-2 {
    width: 100px;
    height: 125px;
    border: 3px solid #3882f6;
    border-radius: 5px;
    flex: 1 1 0;
}

.box-3 {
    width: 100px;
    height: 125px;
    border: 3px solid #3882f6;
    border-radius: 5px;
    flex: 1 1 0;
}

.box-4 {
    width: 100px;
    height: 125px;
    border: 3px solid #3882f6;
    border-radius: 5px;
    flex: 1 1 0;
}

.text-container {
    width: 600px;
    height: 150px;
    /* background-color: #1f2937; */
    /* margin: 0 0 0px 5px; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    flex: 1;
}

.text-1 {
    width: 100px;
    height: 125px;
    color: #1f2937;
    font-size: small;
    font-weight: 500;
    text-align: center;
    flex: 1 1 auto;
}

.text-2 {
    width: 100px;
    height: 125px;
    color: #1f2937;
    font-size: small;
    font-weight: 500;
    text-align: center;
    flex: 1 1 auto;
}

.text-3 {
    width: 100px;
    height: 125px;
    color: #1f2937;
    font-size: small;
    font-weight: 500;
    text-align: center;
    flex: 1 1 auto;
}

.text-4 {
    width: 100px;
    height: 125px;
    color: #1f2937;
    font-size: small;
    font-weight: 500;
    text-align: center;
    flex: 1 1 auto;
}

.box-text-container {
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;

}

.secondary-content-container {
    width: auto;
    height: 300px;
    background-color: rgb(216, 216, 216);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex: 0 1 auto;
}

.quote-author-container {
    width: 800px;
    height: 150px;
    /* background-color: #1f2937; */
    margin: 0 0 0 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex: 0 1 auto;
}

.quote {
    width: 600px;
    font-size: 28px;
    font-weight: lighter;
    color: #1f2937;
}

.author {
    width: 600px;
    text-align: end;
}

.tertiary-content-container {
    width: auto;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blue-island-container {
    background-color: #3882f6;
    width: 800px;
    height: 100px;
    border-radius: 7px;
    flex: 0 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.call-to-action-container {
    width: 600px;
    height: 40px;
    flex: 0 1 auto;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.call-to-action-content {
    color: #f9faf8;
    flex: 1;
}

.call-to-action-description {
    color: #f9faf8;
    font-size: 14px;
    flex: 1;
}

.call-to-action-button {
    width: 90px;
    height: 25px;
    background-color: #3882f6;
    color: #f9faf8;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    border-radius: 5px;
    border: 1px solid #f9faf8;
    margin: 0 0 0 200px;
    flex: 1;
}

.footer-container {
    width: auto;
    height: 50px;
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-content {
    color: #f9faf8;
    font-size: 14px;
}

body {
    display: flex;
    flex-direction: column;
}




